PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE WellData (Well integer, Parameter Text, Time real, Value real);
CREATE TABLE BlastomereData (Well integer, Parameter Text, Time real, Value real);
CREATE TABLE GENERAL (Type Text, Par Text, Time real, Val Text);
/****** CORRUPTION ERROR *******/
CREATE TABLE IMAGES (Well int, Run int, Focal int, Time real, Image blob);
/****** CORRUPTION ERROR *******/
ANALYZE sqlite_schema;
/****** CORRUPTION ERROR *******/
CREATE INDEX Idx_WellData ON WellData (Well);
CREATE INDEX Idx_BlastomereData ON BlastomereData (Well);
CREATE INDEX Idx_General2 ON General (Type, Par);
CREATE INDEX Idx_General3 ON General (Type, Time, Par);
CREATE INDEX Idx_Images1 ON Images (Well, Focal, Run, Time);
CREATE INDEX Idx_Images2 ON Images (Well, Focal, Time, Run);
CREATE INDEX Idx_Images3 ON Images (Run, Well, Focal, Time);
ROLLBACK; -- due to errors
